name: docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: true
          environments: dev

      - name: Fetch bot identity
        id: bot
        uses: raven-actions/bot-details@v1

      - name: Configure bot git identity
        run: |
          git config user.name "${{ steps.bot.outputs.name }}"
          git config user.email "${{ steps.bot.outputs.email }}"

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@v5
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache 
          restore-keys: |
            mkdocs-material-

      - run: pixi run docs-deploy